<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Back</a>
    </nav>
    <div>
        <h1>Information about Brain Tumors</h1>
      <p>
        Glioma: Gliomas are a type of tumor that arises from glial cells in the brain or spine. They can be
        malignant and aggressive, affecting the brain's function.
      </p>
      <p>
        Meningioma: Meningiomas are usually benign tumors that originate in the meninges, the layers of tissue
        covering the brain and spinal cord.
      </p>
      <p>
        Pituitary Tumor: Pituitary tumors develop in the pituitary gland and can affect hormone production,
        leading to various symptoms.
      </p>
    </div>
</body>
</html>
